@font-face {
	font-family: 'CodeSaver';
	src: url('./CodeSaver/CodeSaver.otf') format('opentype'),
			 url('./CodeSaver/CodeSaver.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Example usage: */

#greeting {
	font-family: 'CodeSaver', sans-serif;
}
.print-green {
	color: green;
}
.white {
	color: white;
}
